<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SpeckOrder module tests">
            <directory>./SpeckOrderTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
