body { padding:0 }
#orders td, #cart-items td {font-size:11px}
.search-pane{
    min-width:200px;
}
#order-search-panes{
    margin:0; padding:0;
}
#order-management{
    width:100%;
}
#order-management div{
    vertical-align: top;
}
.row-inline-block > * {
    /* width:100%; */
    min-width:20px;
    vertical-align: top;
    display: inline-block;
}
#order-flags-form label{
    margin:0; font-size:11px; line-height:11px
}


#orders tbody tr:hover td{
    background: none repeat scroll 0 0 #DDEEFF;
}
#orders{ margin-bottom:0 }

.search-filters .head{
    width:100px;
}

div.order_1 { margin-bottom:10px; width: 80%; float:left; }
div.order_2 { margin-bottom:10px; width: 20%; float:left; }
div.order_3 { border-top: 1px solid #DDDDDD; clear:both }

#cart-items th.item       { width:50% }
#cart-items th.uom-qty    { width:30% }
#cart-items th.price      { width:10% }
#cart-items th.line-total { width:10% }

/* tab close button */
.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}
