.pane-datatable td, #cart-items td {font-size:11px}

.row-inline-block > * {
    min-width:20px;
    vertical-align: top;
    display: inline-block;
}

#order-flags-form label{
    margin:0; font-size:11px; line-height:11px
}

.search-filters {
    padding-left:10px;
    padding-bottom:10px;
}

#search-button {
    position: absolute; top:55px; left:-3px;
    border:1px solid #CCC;
    border-left:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #EEE;
    display:block;
}
#search-button i {
    margin:40px;
    margin-left:10px;
    margin-right:10px;
}

.pane-datatable{ margin-bottom:0 }
.pane-datatable tbody tr:hover td{
    background: none repeat scroll 0 0 #DDEEFF;
}

#speck-order-layout { margin: 0 20px 0 40px; padding:0 }

i.multivalue.ignore { background-color: #FFF; }
i.multivalue.show { background-color: #0F0; }
i.multivalue.hide { background-color: #F00; }

#cart-items th.item       { width:50% }
#cart-items th.uom-qty    { width:30% }
#cart-items th.price      { width:10% }
#cart-items th.line-total { width:10% }

/* tab close button */
.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}
